.campaign-container {
  position: relative;
  width: 1272px;
  height: 850px;
  margin: auto; /* centers horizontally */
  top: 50%;
  transform: translateY(2%); /* centers vertically */

  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
    z-index: 3;
}


/* Top block above left and right pages */
.top-block {
  position: absolute;
  top: 12px; /* position at the top of campaign-container */
  left: 50%; /* center horizontally */
  transform: translateX(-50%);
  width: 40px; /* fixed width */
  height: 97%; /* full height of container */
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.05),   /* left light */
    rgba(0, 0, 0, 0.8) 50%, /* center dark */
    rgba(0, 0, 0, 0.05)    /* right light */
  );
  z-index: 5; /* above pages */
}


.book-wrapper {
  display: flex;
  width: 97%;
  max-width: 1400px;
  height: 97%;
  box-shadow: 0px 10px 40px rgba(0,0,0,0.5);

  overflow: hidden;
  z-index: 3;
}

.page {
  flex: 1;
  background-size: cover;
  background-position: center;
  padding: 10px;
  overflow: visible;
    z-index: 3;
}





.right-page {
  position: relative; /* needed for pseudo-element */

  overflow: hidden; /* make sure pseudo-element stays inside */
}

/* Flip only the background */
.right-page::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../../assets/images/page.png'); /* set your right page background */
  background-size: cover;
  background-position: center;
  transform: scaleX(-1); /* horizontal flip */
  z-index: -1; /* keep behind page content */
}