.campaign-container {
  position: relative;
  width: 1197px;
  height: 800px;
  margin: auto; /* centers horizontally */
  top: 50%;
  transform: translateY(2%); /* centers vertically */

  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}


.book-wrapper {
  display: flex;
  width: 97%;
  max-width: 1400px;
  height: 93vh;
  box-shadow: 0px 10px 40px rgba(0,0,0,0.5);

  overflow: hidden;
  z-index: 5;
}

.page {
  flex: 1;
  background-size: cover;
  background-position: center;
  padding: 20px;
  overflow-y: auto;
    z-index: 5;
}

/* Left and Right page styles */
.left-page {
  border-right: 2px solid rgba(0,0,0,0.3);
}

.right-page {
  border-left: 2px solid rgba(0,0,0,0.3);
}


