.sidebar {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 120px;
  height: 93vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  z-index: 1000;
  box-shadow: 0 0 24px 8px #37ff14b2; /* Neon green shadow all around */
  margin-left: 30px;
}

.logo-container {
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.logo {
  width: 60px;
  height: 60px;
  object-fit: contain;
  border: 1px solid white;
  border-radius: 50%;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.05);
}

.nav-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  margin-bottom: 40px;
}

.nav-icon {
  width: 60px;
  height: 60px;
  font-size: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.05);
  cursor: pointer;
  transition: background 0.3s ease;
}

.nav-icon:hover {
  background-color: rgba(255, 255, 255, 0.15);
}
