.bookmark-tabs-container {
  position: relative;
  display: flex;
}

.bookmark-tab-buttons {
  position: absolute;
  left: 15.6%; /* overlap to the left */
  top: 85px;
  display: flex;
  flex-direction: column;
  z-index: 13;
}

.bookmark-tab-btn {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  background: #05512c;
  color: #fff;
  border: none;
  border-radius: 0px 10px 10px 0px;
  margin-bottom: 10px;
  padding: 20px 6px;
  cursor: pointer;
  font-family: "Caudex", serif;
  font-size: 18px;
  transition: all 0.3s ease;
}

.bookmark-tab-btn.active {
  background: #199a6a;
  color: #000;
  opacity: 1;
  padding: 40px 10px;
}

.bookmark-tab-content {
  margin-left: 80px; /* space so tabs don’t overlap */
  padding: 20px;
  flex: 1;
}



/* page flip */

/* Page flip container */
.bookmark-tabs-container {
  position: relative;
  display: flex;
  perspective: 1200px; /* Needed for 3D effect */
  z-index: 5;
}

/* Flip animation */
.page-flip {
  animation: flipPage 0.6s ease forwards;
}

@keyframes flipPage {
  0% {
    transform: rotateY(0deg);
    opacity: 1;
  }
  50% {
    transform: rotateY(90deg);
    opacity: 0.5;
  }
  100% {
    transform: rotateY(180deg);
    opacity: 0;
  }
}

.blank-page {
  position: absolute;
  top: 50px;
  left: 17.7%;
  width: 620px;
  height: 825px;
  background-image: url(../../assets/images/page.png);
  transform-origin: right center; /* flip starts from right instead of left */
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

.flip-animate {
  animation: flipLeftPage 0.6s ease forwards;
}

@keyframes flipLeftPage {
  0% { transform: rotateY(0deg); }
  100% { transform: rotateY(180deg); } /* rotate in the other direction */
}
